*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(/img/bg-book.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    position: relative;
    text-align: center;
    margin-top: 15vh;
    font-size: 30px;
    padding: 10px;
    background-color: antiquewhite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin:80px
}

.product-box {
    text-align: center;
    cursor: pointer;
    width: 200px;
}

.product-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7d6215;
}

.item {
text-align: center;
margin-bottom: 20px;
width: 200px;
}

button {
background-color: grey;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

#card {
margin-top: 50px;
text-align: center;
}

#card-items {
list-style-type: none;
padding: 0;
}

#card-items li {
margin-bottom: 10px;
}

