@font-face {
    font-family: barett;
    src: url(/font/Barett\ Street.ttf);
}
@font-face {
    font-family: peanut ;
    src: url(/font/Peanut\ Butter.ttf);
}

/* beda lg ini ada icon belanja */
:root{
    --peru:#CD853F;
}

*{
    margin: 0;
    padding: 0;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
    font-family: peanut;
    position: fixed;
    top: 0; left: 0; right: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background-color: rgba(240, 255, 255, 0.685);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.192);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: var(--peru);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--peru);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header #toggler {
    display: none;
}

header .bx bx-menu {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, .3);
    display: none;
}


/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-bottom: 60px;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown-content a {
    padding: 20px 20px;
    text-decoration: none;
    display: block;
}





