<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header.ejs') %>
</head>

<body>
    <!-- Navbar -->
    <%- include('adminnavbar.ejs') %>

    <!-- Form Tambah Buku -->
    <h2>Formulir Tambah Buku</h2>
    <form action="/api/books" method="POST">
      <label for="judul">Judul*</label>
      <input type="text" id="judul" name="judul" required><br>
      
      <label for="author">Penulis*</label>
      <input type="text" id="author" name="author" required><br>
      
      <label for="penerbit">Penerbit*</label>
      <input type="text" id="penerbit" name="penerbit" required><br>
      
      <label for="imageUrl">URL Gambar*</label>
      <input type="text" id="imageUrl" name="imageUrl" required><br>
      
      <label for="sinopsis">Sinopsis*</label>
      <textarea id="sinopsis" name="sinopsis" rows="4" required></textarea><br><br>

      <span>
        <label for="tanggal">Tanggal Terbit</label>
        <input type="number" id="tanggal" name="tanggal"><br>
        <select id="bulan" name="bulan">
          <option value="">None</option>
          <option value="Januari">Jan</option>
          <option value="Februari">Feb</option>
          <option value="Maret">Mar</option>
          <option value="April">Apr</option>
          <option value="Mei">Mei</option> 
          <option value="Juni">Jun</option>
          <option value="Juli">Jul</option>
          <option value="Agustus">Agu</option>
          <option value="September">Sep</option>
          <option value="Oktober">Okt</option>
          <option value="November">Nov</option>
          <option value="Desember">Des</option>
        </select><br>
        <label for="tahun">Tahun Terbit*</label>
        <input type="number" id="tahun" name="tahun" required><br>
      </span>

      <label for="halaman">Jumlah Halaman*</label>
      <input type="number" id="halaman" name="halaman" required><br>
      
      <label for="harga">Harga*</label>
      <input type="number" id="harga" name="harga" required><br>
      
      <label for="isbn">ISBN*</label>
      <input type="text" id="isbn" name="isbn" required><br>
      
      <label for="kategori">Kategori*</label>
      <select id="kategori" name="kategori" required>
        <option value="novel">Novel</option>
        <option value="inspirasi">Inspirasi</option>
        <option value="sejarah">Sejarah</option>
        <option value="komik">Komik</option>
        <option value="resepmasakan">Resep & Masakan</option>
        <option value="bisnisekonomi">Bisnis & Ekonomi</option>
        <option value="bahasaasing">Bahasa Asing</option>
        <option value="medis">Medis</option>
      </select><br>

      <label for="promo">Promo</label>
        <select id="promo" name="promo">
          <option value="Disable">Disable</option>
          <option value="Enable">Enable</option>  
        </select><br><br>

        <div id="diskonField" style="display: none;">
          <label for="diskon">Diskon: (dalam persen)</label>
          <input type="number" name="diskon" id="diskon">
        </div>
        <br>
    
      <button type="submit">Tambah Buku</button>
    </form>
    <%- include('../layouts/footer.ejs') %>

    <script>
      document.getElementById('promo').addEventListener('change', function() {
        const diskonField = document.getElementById('diskonField');
        if (this.value === 'Enable') {
            diskonField.style.display = 'block';
        } else {
            diskonField.style.display = 'none';
        }
    });
    </script>
</body>
<link rel="stylesheet" href="../css/addbooks.css">
</html>
