<header>
  <nav class="navbar">
      <a href="/" class="logo">Aksa Buku</a>
      <a href="/admin/booklists" class="isi">Book List</a>
      <a href="/admin/addbooks" class="isi">Add Book</a>
  </nav>
</header>