PORT = 8080
MONGO_URI = "mongodb+srv://<username>:<password>@cluster0.mongodb.net/aksabuku?retryWrites=true&w=majority"
EMAIL_SENDER = "your_email@gmail.com"
EMAIL_PASSWORD = "your_app_password"
EMAIL_NOTIFIER = "admin_email@gmail.com"