<div class="container-novel">
  <section class="sec">
      <h1 class="pheading"> Buku Inspirasi</h1>
      <div class="products">
          <% books.forEach(function(book) { %>
              <div class="card">
              <div class="img"><img src="<%= book.imageURL %>"></div>
              <div class="desc">Buku Inspirasi</div>
              <div class="title"><%= book.judul %></div>
              <div class="penulis">Penulis: <%= book.author %></div>
              <div class="box">
                  <div class="price">Rp. <%= book.harga %></div>
                  <button class="btn">Buy Now</button>
              </div>
          </div>
      <% }); %>
      </div>
  </section>
</div>