<div class="fiturbox">
  <form action="/jelajah" method="GET">
    <input type="text" name="keyword" placeholder="Cari judul atau author...">
    <button type="submit">Cari</button>
  </form>

  <form action="/jelajah" method="GET">
    <select name="sortBy" id="sortBy">
      <option value="">Tidak disortir</option>
      <option value="ascJudul">Judul (A-Z)</option>
      <option value="descJudul">Judul (Z-A)</option>
      <option value="ascPrice">Harga Tertinggi</option>
      <option value="descPrice">Harga Terendah</option>
    </select>
    <button type="submit">Terapkan</button>
  </form>
</div>