<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- css for navbar -->
<link rel="stylesheet" href="/css/footer.css">
<!-- icon web -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!-- footer -->

<body>
    <footer class="footer">
        <div class="footer-content">
            <img class="img-footer" src="/assets/img/aksa_buku.png" style="width: 200px;" alt="#">
            <p>Kunjungi toko online kami hari ini untuk mendapatkan pengalaman belanja buku yang tak terlupakan.!
            </p>
        </div>
        <div class="box-icons-footer">
            <div class="icons-footer">
                <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
            </div>
        </div>

        <div class="footer-content">
            <h4>Project</h4>
            <li><a href="#">House</a></li>
            <li><a href="#">Rooms</a></li>
            <li><a href="#">Flats</a></li>
            <li><a href="#">Appartments</a></li>
        </div>

        <div class="footer-content">
            <h4>Company</h4>
            <li><a href="#">How We Work</a></li>
            <li><a href="#">Capital</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Sellings</a></li>
        </div>

        <div class="footer-content">
            <h4>Movement</h4>
            <li><a href="#">Movement</a></li>
            <li><a href="#">Support Us</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Renting</a></li>
        </div>

        <div class="footer-content">
            <h4>Help</h4>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Condition</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQs</a></li>
        </div>

        <div class="footer-content">
            <h4>Contribution</h4>
            <li><a href="#">535220178</a></li>
            <li><a href="#">535220187</a></li>
            <li><a href="#">535220223</a></li>
            <li><a href="#">535220226</a></li>
        </div>
    </footer>
</body>
<!-- end footer -->