<!-- css for navbar -->
<link rel="stylesheet" href="/css/footer.css">
<!-- icon web -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!-- footer -->
<body>
    <footer class="footer">
        <div class="footer-content">
            <img class="img-footer" src="/assets/img/aksa_buku.png" style="width: 200px;" alt="#">
            <p>Kunjungi toko online kami hari ini untuk mendapatkan pengalaman belanja buku yang tak terlupakan.!
            </p>
        </div>
        <div class="box-icons-footer">
            <div class="icons-footer">
                <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
            </div>
        </div>

        <div class="footer-content">
            <h4>Tentang Kami</h4>
            <li><a href="#">Tentang Aksa Buku</a></li>
            <li><a href="#">Tim Kami</a></li>
            <li><a href="#">Kontak Kami</a></li>
        </div>

        <div class="footer-content">
            <h4>Informasi</h4>
            <li><a href="#">Cara Belanja</a></li>
            <li><a href="#">Pengiriman</a></li>
            <li><a href="#">Pembayaran</a></li>
        </div>

        <div class="footer-content">
            <h4>Bantuan</h4>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kebijakan Privasi</a></li>
            <li><a href="#">Syarat dan Ketentuan</a></li>
        </div>

        <div class="footer-content">
            <h4>Langganan Newsletter</h4>
            <p>Dapatkan berita terbaru tentang penawaran dan promo kami dengan berlangganan newsletter.</p>
            <form action="#" method="post">
                <input type="email" name="email" placeholder="Masukkan email Anda" required>
                <button type="submit">Berlangganan</button>
            </form>
        </div>

        <!-- <div class="footer-content">
            <h4>Contribution</h4>
            <li><a href="#">535220178</a></li>
            <li><a href="#">535220187</a></li>
            <li><a href="#">535220223</a></li>
            <li><a href="#">535220226</a></li>
        </div> -->
    </footer>
    <!-- end footer -->
</body>