

<header>
    <a href="index.html" class="logo">Book Store Web</a><span>.</span></a>

    <nav class="navbar">
        <a href="/index.html">Home</a>
        <li class="dropdown">
            <a href="#" id="jelajah">About All</a>
            <div class="dropdown-content">
                <a href="bk-novel.html">Buku Novel</a>
                <a href="bk-inspirasi.html">Buku Inspirasi</a>
            </div>
        </li>
        <a href="/contact.html">Contact</a>
        <a href="/form.html">Peminjaman</a>
    </nav>

    <div class="icons">
        <a href="#" class='bx bxs-heart-circle'></a>
        <a href="#" class='bx bxs-shopping-bags'></a>
        <a href="#" class='bx bxs-user'></a>
    </div>
</header>