<header>
    <nav class="navbar">
        <a href="/" class="logo">Aksa Buku</a>
        <a href="/" class="isi">Beranda</a>
        <li class="dropdown">
            <a href="#" class="isi" id="jelajah">Jelajah</a>
            <div class="dropdown-content">
                <a href="/novel">Buku Novel</a>
                <a href="/inspirasi">Buku Inspirasi</a>
            </div>
        </li>
        <a href="/contact" class="isi">Hubungi Kami</a>
        <a href="/form" class="isi">Peminjaman</a>

        <div class="icons">
            <a href="/" class='bx bxs-shopping-bags'></a>
            <a href="/" class='bx bxs-user'></a>
        </div>
    </nav>
</header>