<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/header.ejs') %>
        <!-- css for form -->
        <link rel="stylesheet" href="/css/akun.css">
    </head>
    
<body>
     <!-- Navbar -->
     <%- include('layouts/navbar.ejs') %>

     <container>
        <div class="box">
            <div class="content">
                
            </div>
        </div>
     </container>

</body>