<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header.ejs') %>
</head>

<body>
    <!-- Navbar -->
    <%- include('layouts/navbar.ejs') %>

        <!-- form -->
        <section class="contact">
            <div class="container-box">
                <!-- content -->
                <div class="content-us">
                    <h2>Contact Us</h2>
                    <p>Jangan ragu untuk menghubungi kami! Kami siap menjawab segala pertanyaan Anda, menerima saran,
                        atau mendengar cerita Anda. Kami percaya setiap hubungan dimulai dengan percakapan, jadi mari
                        mulai berbicara!</p>
                </div>
                <div class="container">
                    <div class="contactInfo">
                        <div class="box">
                            <div class="icon"><i class='bx bxs-map'></i></div>
                            <div class="text">
                                <h2>Address</h2>
                                <p>Jl. Medan Merdeka Sel. No.11, Gambir,<br> Kecamatan Gambir,Kota Jakarta Pusat,
                                    <br>Daerah Khusus Ibukota Jakarta 10110</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon"><i class='bx bxs-phone'></i></div>
                            <div class="text">
                                <h2>Phone</h2>
                                <p>(+62) 366 248 4151</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon"><i class='bx bxs-envelope'></i></div>
                            <div class="text">
                                <h2>Email</h2>
                                <p>marketing@aksabuku.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="contactForm">
                        <form>
                            <h2>Send Message</h2>
                            <div class="inputBox">
                                <input type="text" name="" required="required">
                                <span>Full Name</span>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="" required="required">
                                <span>Email</span>
                            </div>
                            <div class="inputBox">
                                <textarea required="required"></textarea>
                                <span>Type your Message.....</span>
                            </div>
                            <div class="inputBox">
                                <input class="btn" type="submit" name="" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact -->

        <script src="javascript/contact.js"></script>
</body>
<!-- css for contact -->
<link rel="stylesheet" href="css/contact.css">

</html>