<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header.ejs') %>
        <!-- css for form -->
        <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('layouts/navbar.ejs') %>

        <!-- <div class="container" id="berhasil"> -->
        <!-- form -->
        <section class="contact" id="berhasil">
            <div class="container-box">
                <!-- content -->
                <div class="contactForm">
                    <form>
                        <h2>Form Peminjaman atau <br>
                            Pengembalian Buku</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Name book</span>
                        </div>
                        
                        <div class="inputBox">
                            <input type="date">
                            <span style="color: black;"> Tanggal Peminjaman</span>
                        </div>
                        <div class="inputBox">
                            <input type="date">
                            <span style="color: black;"> Tanggal Pengembalian</span>
                        </div>

                        <div class="inputBox">
                            <input class="btn" type="submit" name="" value="Send">
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </section>
        <!-- end contact -->

        </div>

        <script src="javascript/fungsi.js"></script>
</body>

</html>