
<!DOCTYPE html> 
<html lang="en">
<head>
    <%- include('layouts/header.ejs') %>
</head>
<body>
    <!-- Navbar -->
    <%- include('layouts/navbar.ejs') %>
    
    <!-- intro -->
    <section class="content">
        <div class="column">
            <h1>Aksa Buku</h1>
            <p>Memulai pertualangan buku tanpa batas,<br>
                Memberikan rekomendasi buku terbaru dan populer</p>
            <button>Shop Now</button>
        </div>
        <div class="column"></div>
    </section>
        <!-- end intro -->

        <!-- border -->
        <section class="banner">
            <div class="banner-img">
                <img src="/assets/img/banner/banner-1.png">
            </div>
            <div class="banner-img">
                <img src="/assets/img/banner/banner-2.png">
            </div>
        </section>
        <!-- end border -->
        
        <!-- produk -->
        <h1 class="pheading"> Products <span>Hot</span></h1>
        
        <section class="sec">
            <div class="products">
                <!-- card 1 -->
                <div class="card">
                    <div class="img">
                        <img src="https://cf.shopee.co.id/file/id-11134207-7qul5-lfz88qn65g8l2f">
                    </div>
                    <div class="desc">Buku Novel</div>
                    <div class="title">How To See?</div>
                    <div class="penulis">Penulis: Assabella Audida</div>
                    <div class="box">
                        <div class="price-real">Rp. 117.000</div>
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
                <!-- card end 1 --> 
                <!-- card 2 -->
                <div class="card">
                    <div class="img">
                        <img
                            src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//88/MTA-4280180/gramedia_pustaka_utama_gramedia_pustaka_utama_mantappu_jiwa_buku_latihan_soal_by_jerome_polin_sijabat_buku_edukasi_full02.jpg">
                    </div>
                    <div class="desc">Buku Inspirasi</div>
                    <div class="title">Mantappu Jiwa</div>
                    <div class="penulis">Penulis: Jerome Polin Sijabat</div>
                    <div class="box">
                        <div class="price-real">Rp. 74.000</div>
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
                <!-- card end 2 -->
                <!-- card 3 -->
                <div class="card">
                    <div class="img">
                        <img src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//110/MTA-49078864/loveable_novel_dikta_-_hukum_-_dhia-an_farah_full02_f99609cf.jpg"
                            alt="Product 1">
                    </div>
                    <div class="desc">Buku Novel</div>
                    <div class="title">Dikta & Hukum</div>
                    <div class="penulis">Penulis: Dhia'an Farah</div>
                    <div class="box">
                        <div class="price-real">Rp. 80.000</div>
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
                <!-- card end 3 -->
            </div>
        </section>
        <!-- end produk -->
        
        <!-- produk diskon -->
        <h1 class="pheading"> Products <span>Discount</span></h1>
        <section class="sec">
            <div class="products">
                <!-- card 1 -->
                <div class="card">
                    <span class="discount">-30%</span>
                    <div class="img">
                        <img src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//86/MTA-6223108/loveable_hidden_full02_r1vzbbto.jpg">
                    </div>
                    <div class="desc">Buku Novel</div>
                    <div class="title">HIDDEN</div>
                    <div class="penulis">Penulis: Assabella Audida</div>
                    <div class="box">
                        <div class="price-dis"><span class="price">Rp.109.000 <br></span>Rp. 76.000</div>
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
                <!-- card end 1 -->
                <!-- card 2 -->
                <div class="card">
                    <span class="discount">-30%</span>
                    <div class="img">
                        <img
                            src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//catalog-image/110/MTA-149237786/no-brand_menjadi-pribadi-yang-bahagia-dan-inspiratif-dale-camegie_full01.jpg">
                    </div>
                    <div class="desc">Buku Inspirasi</div>
                    <div class="title">Menjadi Pribadi Yang Bahagia dan Inspiratif</div>
                    <div class="penulis">Penulis: Dale Carnegie</div>
                    <div class="box">
                        <div class="price-dis"><span class="price">Rp.85.000 <br></span>Rp. 59.000</div>
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
                <!-- card end 2 -->
                <!-- card 3 -->
                <div class="card">
                    <span class="discount">-30%</span>
                    <div class="img">
                        <img src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//catalog-image/97/MTA-149441055/no-brand_no-brand_full01.jpg"
                            alt="Product 1">
                    </div>
                    <div class="desc">Buku Novel</div>
                    <div class="title">Kado Terbaik</div>
                    <div class="penulis">Penulis: JS Khairen</div>
                    <div class="box">
                        <div class="price-dis"><span class="price">Rp.169.000 <br></span>Rp. 116.000</div>
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
                <!-- card end 3 -->
            </div>
        </section>
        <!-- end produk diskon -->

        <!-- Review Customer -->
        <h1 class="pheading"> Customer's <span>Review</span></h1>
        <section class="main">
            <div class="full-boxer">
                <div class="comment-box">
                    <div class="box-top">
                        <div class="Profile">
                            <div class="profile-image">
                                <img src="/assets/img/img-review/orang-1-heuning.jpeg">
                            </div>
                            <div class="Name">
                                <strong>Kamal Heuning</strong>
                                <span>@heuning13</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
    
                <div class="comment-box">
                    <div class="box-top">
                        <div class="Profile">
                            <div class="profile-image">
                                <img src="/assets/img/img-review/orang-2.jpg">
                            </div>
                            <div class="Name">
                                <strong>Senuda Dilwan</strong>
                                <span>@senudadilwan</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
    
                <div class="comment-box">
                    <div class="box-top">
                        <div class="Profile">
                            <div class="profile-image">
                                <img src="/assets/img/img-review/orang-3.jpg">
                            </div>
                            <div class="Name">
                                <strong>Rumali fernando</strong>
                                <span>@Rumalifernando</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
    
                <div class="comment-box">
                    <div class="box-top">
                        <div class="Profile">
                            <div class="profile-image">
                                <img src="/assets/img/img-review/orang-4.jpg">
                            </div>
                            <div class="Name">
                                <strong>Midinu Thiranjana</strong>
                                <span>@MidinuThiranjana</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    <!-- End Review Customer -->
    

        <!-- footer -->
        <%- include('layouts/footer.ejs') %>
        <script src="fungsi.js"></script>
</body>
</html>
