<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/header.ejs') %>
    </head>
<body>
    <!-- Navbar -->
    <%- include('layouts/navbar.ejs') %>

    <!-- intro -->
    <section class="home" id="home">
        <div class="content">
            <h3>Aksa Buku</h3>
            <span>
                Memulai pertualangan buku tanpa batas, <br>
                Memberikan rekomendasi buku terbaru dan populer.<br><br>
            </span>
            <p class="text-utm" style="margin-right: 10vh;"> 
                Buku merupakan kumpulan lembaran yang bertuliskan kata-kata. <br>
                Buku juga merupakan jendela dunia yang tidak terbatas. <br>
                Selamat datang di Aksa Buku, tempat di mana pertualangan tak terbatas menanti.
                Segera temukan dunia mu!
                <br><br>
                <a href="/jelajah" class="btnMore" style="display: inline-block;margin-top: 5vh; margin-left: 25vh;">Buy Now</a>
        </div>
    </section>

    <!-- banner promosi -->
    <section class="banner">
        <div class="banner-img">
            <img src="../public/assets/img/banner/1.png">
        </div>    
        <div class="banner-img">
            <img src="../public/assets/img/banner/2.png">
        </div>    
    </section>

    
    
    <!--Popular product-->
    <section class="products" id="products">
        <h1 class="heading">Hot <span>Products</span> </h1>
        
        <section class="sec">
            <div class="products">
                <!-- content -->
                <div class="card" id="card-1">
                    <div class="img">
                        <img src="/assets/img/produk/7.png" alt="...">
                    </div>
                    <div class="desc">Buku Inspirasi</div>
                <div class="title">How To See ?</div>
                <div class="box">
                    <div class="price">Rp. 90.000</div>
                    <button class="btn">Buy Now</button>
                </div>
            <!-- card-2 -->
                <div class="img">
                    <img src="/assets/img/produk/7.png" alt="...">
                </div>
                <div class="desc">Buku Inspirasi</div>
                <div class="title">How To See ?</div>
                <div class="box">
                    <div class="price">Rp. 90.000</div>
                    <button class="btn">Buy Now</button>
                </div>
            </section>
            
        </section>
        
            <!-- contribution -->
            <section class="distri-container">
                <div class="icon">
                    <img src="/assets/img/3.png" alt="">
                    <div class="distri">
                        <h3>535220187</h3>
                        <span>Jessica Ho</span>
                    </div>
                </div>
                <div class="icon">
                    <img src="/assets/img/4.png" alt="">
                    <div class="distri">
                        <h3>535220178</h3>
                        <span>Aulia Dwi</span>
                    </div>
                </div>
                <div class="icon">
                    <img src="/assets/img/5.png" alt="">
                    <div class="distri">
                        <h3>535220226</h3>
                        <span>Parveen Uzma</span>
                    </div>
                </div>
                <div class="icon">
                    <img src="/assets/img/6.png" alt="">
                    <div class="distri">
                        <h3>535220223</h3>
                        <span>Lufika Ayu</span>
                    </div>
                </div>
            </section>


        <script src="fungsi.js"></script>
</body>

</html>