<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header.ejs') %>
</head>

<body>
    <!-- Navbar -->
    <%- include('layouts/navbar.ejs') %>

        <!-- intro -->
        <section class="content">
            <h1>Aksa Buku</h1>
            <p>Memulai pertualangan buku tanpa batas,<br>
                Memberikan rekomendasi buku terbaru dan populer</p>
            <button>Shop Now</button>
        </section>
        <!-- end intro -->
    
        <!-- border -->
        <section class="banner">
            <div class="banner-img">
                <img src="/assets/img/banner/banner-1.png">
            </div>
            <div class="banner-img">
                <img src="/assets/img/banner/banner-2.png">
            </div>
        </section>
        <!-- end border -->
    
        <!-- produk -->
        <h1 class="pheading"> Products <span>Hot</span></h1>
    
        <section class="sec">
            <div class="products">
                <!-- card 1 -->
                <div class="card">
                    <div class="img">
                        <img
                        src="https://filebroker-cdn.lazada.co.id/kf/Se71000280f754797812fbb1faa26dba0c.jpg">
                    </div>
                    <div class="desc">Buku Novel</div>
                    <div class="title">How To See?</div>
                    <div class="penulis">Penulis: Assabella Audida</div>
                    <div class="box">
                        <div class="price">Rp. 99.000</div>
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
                <!-- card end 1 -->
    
                <!-- card 2 -->
                <div class="card" style="margin-left: 15vh;">
                    <div class="img">
                        <img src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//88/MTA-4280180/gramedia_pustaka_utama_gramedia_pustaka_utama_mantappu_jiwa_buku_latihan_soal_by_jerome_polin_sijabat_buku_edukasi_full02.jpg">
                    </div>
                    <div class="desc">Buku Inspirasi</div>
                    <div class="title">Mantappu Jiwa</div>
                    <div class="penulis">Penulis: Jerome Polin Sijabat</div>
                    <div class="box">
                        <div class="price">Rp. 90.000</div>
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
                <!-- card end 2 -->
    
                <!-- card 3 -->
                <div class="card" style="margin-left: 15vh;">
                    <div class="img">
                        <img
                            src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//110/MTA-49078864/loveable_novel_dikta_-_hukum_-_dhia-an_farah_full02_f99609cf.jpg"
                            alt="Product 1">
                    </div>
                    <div class="desc">Buku Novel</div>
                    <div class="title">Dikta & Hukum</div>
                    <div class="penulis">Penulis: Dhia'an Farah</div>
                    <div class="box">
                        <div class="price">Rp. 90.000</div>
                        <button class="btn">Buy Now</button>
                    </div>
                </div>
                <!-- card end 3 -->
            </div>
        </section>
        <!-- end produk -->

        <!-- produk diskon -->
       <h1 class="pheading"> Products <span>Discount</span></h1>
    
       <section class="sec">
           <div class="products">
               <!-- card 1 -->
               <div class="card">
                   <span class="discount">-30%</span>
                   <div class="img">
                       <img
                       src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//86/MTA-6223108/loveable_hidden_full02_r1vzbbto.jpg"
                       alt="Product 2">
                   </div>
                   <div class="desc">Buku Novel</div>
                   <div class="title">HIDDEN</div>
                   <div class="penulis">Penulis: Assabella Audida</div>
                   <div class="box">
                    <div class="price-dis">Rp. 90.000<span class="diskon"><br>Rp. 63.000</span></div>
                       <button class="btn">Buy Now</button>
                   </div>
               </div>
               <!-- card end 1 -->
   
               <!-- card 2 -->
               <div class="card" style="margin-left: 15vh;">
                <span class="discount">-30%</span>
                <div class="img">
                       <img src="https://images.tokopedia.net/img/cache/700/VqbcmM/2022/2/10/90dcce65-c7dc-4038-bbbd-53ca300778e7.jpg">
                   </div>
                   <div class="desc">Buku Inspirasi</div>
                   <div class="title">Mantappu Jiwa</div>
                   <div class="penulis">Penulis: Jerome Polin Sijabat</div>
                   <div class="box">
                    <div class="price-dis">Rp. 90.000<span class="diskon"><br>Rp. 63.000</span></div>
                       <button class="btn">Buy Now</button>
                   </div>
               </div>
               <!-- card end 2 -->
   
               <!-- card 3 -->
               <div class="card" style="margin-left: 15vh;">
                <span class="discount">-30%</span>
                <div class="img">
                       <img
                           src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//catalog-image/97/MTA-149441055/no-brand_no-brand_full01.jpg"
                           alt="Product 1">
                   </div>
                   <div class="desc">Buku Novel</div>
                   <div class="title">Dikta & Hukum</div>
                   <div class="penulis">Penulis: Dhia'an Farah</div>
                   <div class="box">
                       <div class="price-dis">Rp. 90.000<span class="diskon"><br>Rp. 63.000</span></div>
                       <button class="btn">Buy Now</button>
                   </div>
               </div>
               <!-- card end 3 -->
           </div>
       </section>
        <!-- end produk diskon -->











        <!-- footer -->
        <footer class="footer">
            <div class="footer-content">
                <img class="img-footer" src="/assets/img/aksa_buku.png" style="width: 200px;" alt="#">
                <p>Now You Can Buy This Web<br>
                intinya guwa jodoh beomgyu xixix</p>
            </div>
    
            <div class="icons">
                <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
            </div>
    
            <div class="footer-content">
                <h4>Project</h4>
                <li><a href="#">House</a></li>
                <li><a href="#">Rooms</a></li>
                <li><a href="#">Flats</a></li>
                <li><a href="#">Appartments</a></li>
            </div>
    
            <div class="footer-content">
                <h4>Company</h4>
                <li><a href="#">How We Work</a></li>
                <li><a href="#">Capital</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Sellings</a></li>
            </div>
    
            <div class="footer-content">
                <h4>Movement</h4>
                <li><a href="#">Movement</a></li>
                <li><a href="#">Support Us</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Renting</a></li>
            </div>
    
            <div class="footer-content">
                <h4>Help</h4>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Condition</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQs</a></li>
            </div>
    
            <div class="footer-content">
                <h4>Constribusi</h4>
                <li><a href="#">535220178</a></li>
                <li><a href="#">535220187</a></li>
                <li><a href="#">535220223</a></li>
                <li><a href="#">535220226</a></li>
            </div>
        </footer>
        <!-- end footer -->
<script src="fungsi.js"></script>
</body>

</html>