<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header.ejs') %>
</head>

<body>
    <!-- Navbar -->
    <%- include('layouts/navbar.ejs') %>

        <!-- intro -->
        <section class="home" id="home">
            <div class="content">
                <h3>Aksa Buku</h3>
                <span>
                    Memulai pertualangan buku tanpa batas, <br>
                    Memberikan rekomendasi buku terbaru dan populer.<br><br>
                </span>
                <p class="text-utm" style="margin-right: 10vh;">
                    Buku merupakan kumpulan lembaran yang bertuliskan kata-kata. <br>
                    Buku juga merupakan jendela dunia yang tidak terbatas. <br>
                    Selamat datang di Aksa Buku, tempat di mana pertualangan tak terbatas menanti.
                    Segera temukan dunia mu!
                    <br><br>
                    <a href="/jelajah" class="btnMore"
                        style="display: inline-block;margin-top: 5vh; margin-left: 25vh;">Buy Now</a>
            </div>
        </section>

        <!-- banner promosi -->
        <section class="banner">
            <div class="banner-img">
                <img src="/assets/img/banner/banner-1.png">
            </div>
            <div class="banner-img">
                <img src="/assets/img/banner/banner-2.png">
            </div>
        </section>

        <!--Popular product-->
        <section class="products1" id="products">
            <h1 class="heading">Hot <span>Products</span> </h1>
            <!-- produk -->
            <section class="sec">
                <div class="products">

                    <!-- card 1 -->
                    <div class="card">
                        <div class="img"><img src="/assets/img/produk/7.png">
                        </div>
                        <div class="desc">Buku Novel</div>
                        <div class="title">How To See?</div>
                        <div class="box">
                            <div class="price">Rp. 99.000</div>
                            <button class="btn">Buy Now</button>
                        </div>
                    </div>
                    <!-- card end 1 -->
                    <!-- card 1 -->
                    <div class="card" style="margin-left: 15vh;">
                        <div class="img"><img
                                src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//88/MTA-4280180/gramedia_pustaka_utama_gramedia_pustaka_utama_mantappu_jiwa_buku_latihan_soal_by_jerome_polin_sijabat_buku_edukasi_full02.jpg">
                        </div>
                        <div class="desc">Buku Inspirasi</div>
                        <div class="title">Mantappu Jiwa</div>
                        <div class="box">
                            <div class="price">Rp. 90.000</div>
                            <button class="btn">Buy Now</button>
                        </div>
                    </div>
                    <!-- card end 1 -->
                </div>
            </section>

            <!-- contribution -->
            <section class="distri-container">
                <div class="icon">
                    <img src="/assets/img/3.png" alt="">
                    <div class="distri">
                        <h3>535220187</h3>
                        <span>Jessica Ho</span>
                    </div>
                </div>
                <div class="icon">
                    <img src="/assets/img/4.png" alt="">
                    <div class="distri">
                        <h3>535220178</h3>
                        <span>Aulia Dwi</span>
                    </div>
                </div>
                <div class="icon">
                    <img src="/assets/img/5.png" alt="">
                    <div class="distri">
                        <h3>535220226</h3>
                        <span>Parveen Uzma</span>
                    </div>
                </div>
                <div class="icon">
                    <img src="/assets/img/6.png" alt="">
                    <div class="distri">
                        <h3>535220223</h3>
                        <span>Lufika Ayu</span>
                    </div>
                </div>
                
        <!-- footer -->
        <section class="footer">
            <div class="box-1">

                <div class="footer-content">
                    <img class="img-footer"  src="/assets/img/icon-footer.png">
                    <p>Now you how use web store</p>
                </div>

                <div class="icons">
                    <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                </div>

                <div class="footer-content">
                    <h4>Project</h4>
                    <li><a href="#">House</a></li>
                    <li><a href="#">Rooms</a></li>
                    <li><a href="#">Flats</a></li>
                    <li><a href="#">Appartments</a></li>
                </div>

                <div class="footer-content">
                    <h4>Company</h4>
                    <li><a href="#">How We Work</a></li>
                    <li><a href="#">Capital</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Sellings</a></li>
                </div>

                <div class="footer-content">
                    <h4>Movement</h4>
                    <li><a href="#">Movement</a></li>
                    <li><a href="#">Support Us</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Renting</a></li>
                </div>

                <div class="footer-content">
                    <h4>Help</h4>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Condition</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQs</a></li>
                </div>
            </div>
        </section>

<script src="fungsi.js"></script>
</body>

</html>