<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
 <div class="container">
    <input type="checkbox" id="check">
    
    <!-- login -->
        <div class="login form">
            <header>Form Login</header>
        <form action="#">
            <input type="text" placeholder="Masukkan email">
            <input type="password" placeholder="Masukkan password">
            <a href="#">Lupa password?</a>
            <input type="button" value="login" class="button">
        </form>
        <div class="signup">
            <span>Belum Punya Akun?
                <label for="check">Daftar</label>
            </span>
        </div>
    </div>
    <!-- register -->
    <div class="registration form">
        <header>Form Registrasi</header>
        <form action="#">
            <input type="text" placeholder="Masukkan email">
            <input type="password" placeholder="Masukkan password">
            <input type="password" placeholder="Masukkan ulang password">
            <input type="button" class="button" value="Daftar">
        </form>
        <div class="signup">
            <span class="signup">
                <label for="check">Login</label>
            </span>
        </div>
    </div>
 </div>
    
</body>
</html>