<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header.ejs') %>
        <!-- css for novel -->
        <link rel="stylesheet" href="/css/novel.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('layouts/navbar.ejs') %>

        <!-- produk Novel -->
        <div class="container-novel">

            <section class="sec">
                <h1 class="pheading"> Buku Novel</h1>
                <div class="products">

                    <!-- card 1 -->
                    <div class="card">
                        <div class="img"><img
                                src="https://filebroker-cdn.lazada.co.id/kf/Se71000280f754797812fbb1faa26dba0c.jpg">
                        </div>
                        <div class="desc">Buku Novel</div>
                        <div class="title">How To See?</div>
                        <div class="penulis">Penulis: Asabell Audida</div>
                        <div class="box">
                            <div class="price">Rp. 99.000</div>
                            <button class="btn">Buy Now</button>
                        </div>
                    </div>
                    <!-- card end 1 -->

                    <!-- card 2 -->
                    <div class="card">
                        <div class="img"><img
                                src="https://down-id.img.susercontent.com/file/a5ce7bba386d5f734a780da17e2c5d23">
                        </div>
                        <div class="desc">Buku Novel</div>
                        <div class="title">Funiculi Funicula</div>
                        <div class="penulis">Penulis: Toshikazu Kawaguchi</div>
                        <div class="box">
                            <div class="price">Rp. 90.000</div>
                            <button class="btn">Buy Now</button>
                        </div>
                    </div>
                    <!-- card end 2 -->

                    <!-- card 3 -->
                    <div class="card">
                        <div class="img"><img
                                src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//110/MTA-49078864/loveable_novel_dikta_-_hukum_-_dhia-an_farah_full02_f99609cf.jpg"
                                alt="Product 1">
                        </div>
                        <div class="desc">Buku Novel</div>
                        <div class="title">Dikta & Hukum</div>
                        <div class="penulis">Penulis: Dhia'an Farah</div>
                        <div class="box">
                            <div class="price">Rp. 90.000</div>
                            <button class="btn">Buy Now</button>
                        </div>
                    </div>
                    <!-- card end 3 -->

                    <!-- card 4 -->
                    <div class="card">
                        <div class="img"><img
                                src="https://img.lazcdn.com/g/p/51be86932f53e227c73907fb666d6135.jpg_720x720q80.jpg"
                                alt="Product 1">
                        </div>
                        <div class="desc">Buku Novel</div>
                        <div class="title">Eufloria</div>
                        <div class="penulis">Penulis: Asabell Audida</div>
                        <div class="box">
                            <div class="price">Rp. 90.000</div>
                            <button class="btn">Buy Now</button>
                        </div>
                    </div>
                    <!-- card end 4 -->

                    <!-- card 5 -->
                    <div class="card">
                        <div class="img"><img
                                src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//86/MTA-3045712/gramedia_mariposa_full02.jpg"
                                alt="Product 1">
                        </div>
                        <div class="desc">Buku Novel</div>
                        <div class="title">Mariposa</div>
                        <div class="penulis">Penulis: LULUK HF</div>
                        <div class="box">
                            <div class="price">Rp. 90.000</div>
                            <button class="btn">Buy Now</button>
                        </div>
                    </div>
                    <!-- card end 5 -->

                    <!-- card 6 -->
                    <div class="card">
                        <div class="img"><img src="https://jbr.id/store/wp-content/uploads/2021/11/2-1.jpg"
                                alt="Product 1">
                        </div>
                        <div class="desc">Buku Novel</div>
                        <div class="title">Married to Mr.Park</div>
                        <div class="penulis">Penulis: Veny Kristina</div>
                        <div class="box">
                            <div class="price">Rp. 90.000</div>
                            <button class="btn">Buy Now</button>
                        </div>
                    </div>
                    <!-- card end 6 -->
                </div>
            </section>
            <!-- end produk -->
        </div>
</body>

</html>