<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/header.ejs') %>
        <!-- css for novel -->
        <link rel="stylesheet" href="/css/inspirasi.css">
    </head>
    <body>
        <!-- Navbar -->
        <%- include('layouts/navbar.ejs') %>

        <%- include('layouts/buku.ejs') %>

        <%- include('layouts/footer.ejs') %>

    <!-- FUNGSI LOM BEKERJA -->
    <!-- <script src="/javascript/fungsi.js"></script>  -->
</body>
</html>
