@font-face {
  font-family: barett;
  src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
  font-family: peanut ;
  src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
  font-family: biasa;
  src: url(/assets/font/Hello\ Mickeys.ttf);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  height: 100%;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  background-color: rgba(144, 114, 79, 0.63);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form {
  margin: 0px 30px 60px 30px;
  padding: 40px;
  align-items: center;
  background-color: #dddddd71;
  border-radius: 10px;
}

h2{
  padding: 120px 30px 30px;
  font-size: 30px;
  position: relative;
  text-align: center;
  font-family: peanut;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
  font-family: biasa;
  &:first-of-type {
    margin-top: 0;
  }
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  resize: vertical;
  font-family: biasa;
}

select {
  cursor: pointer;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

