@font-face {
    font-family: barett;
    src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
    font-family: peanut ;
    src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
    font-family: biasa;
    src: url(/assets/font/Hello\ Mickeys.ttf);
}


body{
    background: linear-gradient(90deg, rgb(255, 255, 255) 60%, #524331 40.1%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* pencarian */
.fiturbox {
    padding-top: 10vh;
    justify-content: center;
}

input {
    padding: 5px;
    border-radius: 10px;
}

select {
    padding: 5px;
    border-radius: 10px;
}

.container-book   {
    padding: 10px;
    font-size: 20px;
}

.sec {
    padding: 10px 5%;
}

.fiturbox{
    padding-top: 100px;
}

/* judul */
.pheading {
    text-align: center;
    color: black;
    font-family:barett;
}

span {
    color: rgb(155, 61, 61);
}

/* Bagian produk */
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: auto;
    margin-right: auto;
}

.products .card{
    width: 300px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0 , 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 20px;
}

.card:hover{
    cursor: pointer;
}

.discount {
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .7rem 1rem;
    font-size: 15px;
    color: var(--white);
    background-color: rgba(255, 0, 0, 0.492);
    z-index: 1;
    border-radius: 2rem;
    font-weight: bolder;
}

.products .card img {
    height: 250px;
    width: 100%;
}

.products .card .desc {
    padding: 5px;
    opacity: 0.8;
}

.products .card .title {
    font-weight: 900;
    font-size: 20px;
    color: #424142;
    padding: 0 20px;
}

.products .card .penulis{
    padding: 2px;
    margin-left: 20px;
}

.title:hover, .penulis:hover{
    text-decoration: underline;
    cursor: pointer;
}

.price{
    margin-top: 15px;
    margin-bottom: 15px;
}

.price-real {
    color: #000000;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: line-through;
}

/* Harga dan Button */
.products .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .btn{
    font-size: 13px;
    color: black;
    padding: 10px 18px;
    font-weight: 900;
    border:1px solid black ;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #7d6215;
    color: white;
}

.truncate-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}