/* judul */
@font-face {
  font-family: barett;
  src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
  font-family: peanut ;
  src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
  font-family: biasa;
  src: url(/assets/font/Hello\ Mickeys.ttf);
}


body{
  background: url(/assets/img/bg-hubungi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

h3{
  font-family: biasa;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2rem linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

/* terpisah */
.contact {
  padding: 100px 0;
  height: 80px;
}

.contact .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: biasa;
  margin-right: 10px;
}

.contact .heading h2 span {
  color: #5d3d12;
}

.contact .heading p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  color: #000000;
  margin: 20px 0 60px;
  padding: 0;
  font-family: biasa;
}

.contact .form-control {
  padding: 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 0;
  border-radius: 10px;
}

.contact button.btn {
  margin-left: 4px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background: #5a320b;
  color: #ffffff;
}

.contact .title h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: biasa;
}

.contact .title p {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
  margin: 0 0 40px;
  font-family: biasa;
}

.contact .content .info {
  margin-top: 30px;
}
.contact .content .info i {
  font-size: 30px;
  color: #02434b;
  margin-left: -50vh;
  margin-bottom: 10vh;
  width: 20px;
}
.contact .content .info h4 {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
  text-align: start;
  font-family: biasa;
  margin-left: 3vh;
  margin-bottom: 10vh;
}

.d-inline-block {
  margin-top: 10vh;
  margin-left: -30vh;
}

.fas fa-map-marker-alt {
  margin-top: 10vh;
}


.contact .content .info h4 span {
  font-size: 13px;
  font-weight: 450;
  color: #787878;
  font-family: biasa;
}

.col-md-5{
  background-color: white;
  border-radius: 15px;
  margin:10px;
  padding:30px;
}