.fiturbox {
    justify-content: space-between;
    margin-left: 10px;
    background-color: bisque;
    border: 1px solid black;
}

.pencarian .pilihan {
    font-size: 30px;
    background-color: antiquewhite;
}











