@font-face {
    font-family: barett;
    src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
    font-family: peanut ;
    src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
    font-family: biasa;
    src: url(/assets/font/Hello\ Mickeys.ttf);
}
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Body {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: biasa;
}

.container-box {
    margin-top: 7vh;
}
.contact {
    position: relative;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    background: url(/assets/img/bg-form.png);
    background-size: cover;
  
}
.contact .content-us h2{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: black;
    font-family: barett;
}
  
  /* form */
.contactForm {
    margin-left: 90vh;
    width: 40%;
    padding: 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
    border-radius: 10px;
}
.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
    font-family: peanut;
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 7px 0;
    font-size: 16px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    font-family: biasa;
}
.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span, 
.contactForm .inputBox input:valid ~ span, 
.contactForm .inputBox textarea:focus ~ span, 
.contactForm .inputBox textarea:valid ~ span {
    color: #cd1c1c;
    font-size: 12px;
    transform: translateY(-30%);
}
.contactForm .inputBox input[type="submit"] {
    width: 100px;
    color: #4f4747;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    font-family: biasa;
}
  
.btn:hover{
    background-color: #7d6215;
    transform: scale(1.1);
}






