/* font untuk h3 */
@font-face {
    font-family: barett;
    src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
    font-family: peanut ;
    src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
    font-family: biasa;
    src: url(/assets/font/Hello\ Mickeys.ttf);
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    height: 100%;
}

Body {
    height: 100%;
}


/* home */
.content {
    background-image: url(/assets/img/bg-utama2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    height: 100vh;
}

.content h1 {
    font-size: 40px;
}
.content p{
    font-size: 20px;
    margin-top: 20px;
}
.content button {
    margin:  30px;
    padding: 15px 30px;
    border: none;
    background-color: #d6d6d6;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

/* border */
.banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
}
.banner-img {
    overflow: hidden;
}
.banner-img img {
    margin: 20px 20px 20px 20px;
    width: 100%;
    display: block;
    transition: transform 0.5s;
    align-items: center;
}
.banner-img:hover img {
    transform: scale(1.1);
}

button:hover{
    background-color: #7d6215;
    transform: scale(1.1);
}

/* hot produk */
.pheading {
    text-align: center;
    margin: 50px 0;
    color: #4a4a4a;
}

/* produk */
.sec {
    padding: 10px 5%;
}

span {
    color: rgb(155, 61, 61);
}

.products{
    display: flex;
    border-radius: 10px;
    grid-template-columns: repeat(outo-fit, minmax(320px, 1fr));
}

.products .card{
    width: 310px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0 , 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img {
    height: 250px;
    width: 100%;
    
}

.products .card .desc {
    padding: 5px;
    opacity: 0.8;
}

.products .card .title {
    font-weight: 900;
    font-size: 20px;
    color: #424142;
    padding: 0 20px;
}

.products .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .price {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn{
    font-size: 13px;
    color: black;
    padding: 10px 18px;
    font-weight: 900;
    border:1px solid black ;
    border-radius: 20px;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #7d6215;
    color: white;
}  



/* distribusi */
.dis-jdl {
    text-align: center;
    background-color: rgba(190, 148, 97, 0.311);
    font-size: 30px;
}

.distri-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 50%;
}

.distri-container .icon {
    background: #fff;
    border: 1rem solid rgb(208, 201, 201);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 25rem;
}

.distri-container .icon img {
    height: 5rem;
    margin-right: 2rem;
}

.distri-container .icon h3 {
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.distri-container .icon span {
    color: #999;
    font-size: 1.5rem;
}

/* footer */
footer{
    padding: 20px;
    margin: 0;
    margin-top: auto;
    box-sizing: border-box;

}
.footer-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    background-color: #1a242f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content h4 {
    color: white;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li {
    margin-bottom: 15px;
    margin-right: 30px;
}
.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a{
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}

.footer-content p {
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}
.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover {
    color: #fff;
    transform: translateY(-5px);
}






/* media */
@media (max-widh:768px) {

    header .navbar{
        position: absolute;
        top: 100%; right: 0;left: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 1);
    }

    header .navbar{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #eee;
        border: 1rem solid rgb(67, 81, 93);
        display: block;
    }
}

/* @media (max-widh:450px) {
    
    htmml {
        font-size: 50%;
    }
    
    .heading {
        font-size: 3rem;
    }
}

@media (max-widh:991px) {
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    selection{
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
} */