/* font untuk h3 */
@font-face {
    font-family: barett;
    src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
    font-family: peanut ;
    src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
    font-family: biasa;
    src: url(/assets/font/Hello\ Mickeys.ttf);
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    height: 100%;
}

Body {
    height: 100vh;
    width: 100%;
}

/* home */
.content {
    background-image: url(/assets/img/bg-utama2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    color: white;
    height: 100vh;
    align-items: center;
}

.column {
    float: left;
    width: 50%;
    margin-top: 100px;
}

.column h1 {
    font-size: 40px;
    font-family: barett;
}
.column p{
    font-size: 20px;
    margin-top: 20px;
    font-family: biasa;
}
.column button {
    margin:  30px;
    padding: 15px 30px;
    border: none;
    background-color: #d6d6d6;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    font-family: peanut;
}

/* border */
.banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
}
.banner-img {
    overflow: hidden;
}
.banner-img img {
    margin: 20px 20px 20px 20px;
    width: 100%;
    display: block;
    transition: transform 0.5s;
    align-items: center;
}
.banner-img:hover img {
    transform: scale(1.1);
}

button:hover{
    background-color: #7d6215;
    transform: scale(1.1);
}

/* hot produk */
.pheading {
    text-align: center;
    margin: 50px 0;
    color: #4a4a4a;
    font-size: 40px;
}

/* produk */
.sec {
    padding: 10px 5%;
    margin-bottom: 10vh;
}

span {
    color: red;
}

.products{
    display: flex;
    border-radius: 10px;
    grid-template-columns: repeat(outo-fit, minmax(320px, 1fr));
}
.products .card{
    width: 310px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0 , 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img {
    height: 250px;
    width: 100%;
}
.products .card .sale {
    position: absolute;
    margin-right: 10vh;
    background-color: rgb(223, 87, 110);
    width: 40px;
    font-size: 20px;
    border-radius: 20px;
    font-family: baratt;
    color: white;
}

/* tulisan dalam produk */
.products .card .desc {
    padding: 5px;
    opacity: 0.8;
    font-size: 12px;
}

.products .card .penulis{
    padding: 2px;
    margin-left: 20px;
    font-size: 12px;
}

.products .card .title {
    font-weight: 900;
    font-size: 20px;
    color: #424142;
    padding: 0 20px;
    font-size: 20px;
}

.products .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* tidak diskon */
.products .card .box .price-real {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* text diskon coretan */
.products .card .box .price-dis {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .price {
    color: #4a4a4a;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: line-through;
}

/* diskon item */
.discount {
    background-color: pink;
    font-weight: 100;
}

.products .card .discount {
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .7rem 1rem;
    font-size: 15px;
    color: var(--white);
    background-color: rgba(255, 0, 0, 0.492);
    z-index: 1;
    border-radius: 2rem;
    font-weight: bolder;
}


.products .card .box .btn{
    font-size: 13px;
    color: black;
    padding: 10px 18px;
    font-weight: 900;
    border:1px solid black ;
    border-radius: 20px;
}

/* hover */
.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #7d6215;
    color: white;
}  

.icons a:hover {
    color: rgb(189, 150, 103);
    transform: translateY(-5px);
    transition: all .40s ease;
}
.icons-footer a:hover {
    color: rgb(189, 150, 103);
    transform: translateY(-5px);
    transition: all .40s ease;
}
li:hover {
    color: rgb(189, 150, 103);
    transform: translateY(-3px) translateX(-5px);
    transition: all .40s ease;

}




/* media */
@media (max-widh:768px) {

    header .navbar{
        position: absolute;
        top: 100%; right: 0;left: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 1);
    }

    header .navbar{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #eee;
        border: 1rem solid rgb(67, 81, 93);
        display: block;
    }
}
