/* font untuk h3 */
@font-face {
    font-family: barett;
    src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
    font-family: peanut ;
    src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
    font-family: biasa;
    src: url(/assets/font/Hello\ Mickeys.ttf);
}


/* warna */
:root{
    --peru:#CD853F;
}

*{
    margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

p {
    font-family: biasa;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(/assets/img/bg-utama1.png);
    background-size: cover;
    background-position: center;
    background: blur(150px);
}

/* text */
.text-utm {
    width: 500px; 
    height: 160px;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
    color: #eee;
    text-align: justify;
}

/* content */
.content{
    position: relative;
    margin-left: 150px;
    margin-bottom: 150px;
    color: rgb(15, 20, 24);
    text-align: center;
}

.home .content{
    max-width: 100%;
    margin-left: 15px;
    margin-top: 15vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} 

.home .content h3 {
    font-family: barett;
    font-size: 6rem;
    color: rgb(255, 255, 255);
}

.home .content span{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    line-height: 1.5;
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
}

/* button */
.btnMore {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor:pointer;
    font-size: 1.7rem;
    text-decoration: none;
}

.btnMore:hover{
    color: burlywood;
}

/* button buy */
button{
    position: relative;
    background-color: #999;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 40px;
    width: 110px;
    height: 50px;
    font-family: biasa;
    font-size: 18px;
    transition: all .2s ease-in;
}

button:hover {
    background-color: #7d6215;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background-color: rgba(255, 51, 153, .05);
}

.heading span {
    color: rgb(153, 0, 0);
}

/* ABOUT */
.about {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .vidio-container {
    flex: 1 1.40rem;
    position: relative;

}

.about .row .vidio-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem black;
    height: 100%;
    object-fit: cover;
}

.about .row .content{
    flex: 1 1 40rem;
    padding: 25px;
}

.about .row .content h3{
    color: #333;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.about .row .content p{
    font-size: 14px;
    color: #ffffff;
    padding: 5rem 0;
    line-height: 2;

    margin-top: -40px;
    margin-left: -50px;
    padding-right: 25px;
    font-size: 12px; 
    text-align: justify;   
}


.about .row .vidio-container video{
    width: 100%;
    border: 1.9rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem rgba(0, 0, 0, 1);
    margin-top: -20vh;
    margin-left: 10vh;
}

.about .row .vidio-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
    margin-top: -12vh;
    margin-left: 10vh;
    text-shadow: #000000;
    color: #fff;
    width: 100%;
}

.headings {
    text-align: center;
    font-size: 4rem;
    color: #333;

    margin-top: 20px;
    margin-left: -50px;
    margin-right: 25px;  

    background-color: rgba(255, 51, 153, .05);
    padding: 15px;
    line-height: 1.5;
}

.headings span {
    color: rgb(153, 0, 0);
}

/* distribusi */
.dis-jdl {
    text-align: center;
    background-color: rgba(190, 148, 97, 0.311);
    font-size: 30px;
}

.distri-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.distri-container .icon {
    background: #fff;
    border: 1rem solid rgb(208, 201, 201);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 25rem;
}

.distri-container .icon img {
    height: 5rem;
    margin-right: 2rem;
}

.distri-container .icon h3 {
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.distri-container .icon span {
    color: #999;
    font-size: 1.5rem;
}

/* book hot */
.row .col .card{
    position: relative;
    justify-content: space-between;
    justify-items: baseline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-content: space-between;
}

.grid-container > div {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.card .img-2{
    size: 20px;
    padding: -10px;
}

.card-text {
    font-size: 20px;
    margin-top: -30px;
}


/* produk */
section{
    padding: 2rem 7%;
}

.heading {
    color: var(--peru);
}

.product .row {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
} 

.product .product-row .box{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--peru);
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    width: 50%;
}

.product .product-row .img img{
    height: 100%;
    width: 100%;
}

.product .product-row .img img:hover{
    transform: scale(1.1);
}

.product .product-row .content {
    margin-bottom: 4rem;
}
.product .product-row .content h2{
    font-size: 4rem;
    color: var(--peru);
}

.product .product-row .content p{
    font-size: 1.7rem;
    line-height: 1.6rem;
    color: var(--peru);
}


/* media */
@media (max-widh:768px) {

    header .navbar{
        position: absolute;
        top: 100%; right: 0;left: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 1);
    }

    header .navbar{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #eee;
        border: 1rem solid rgb(67, 81, 93);
        display: block;
    }
}

@media (max-widh:450px) {
    
    htmml {
        font-size: 50%;
    }
    
    .heading {
        font-size: 3rem;
    }
}

@media (max-widh:991px) {
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    selection{
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}