/* font untuk h3 */
@font-face {
    font-family: barett;
    src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
    font-family: peanut ;
    src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
    font-family: biasa;
    src: url(/assets/font/Hello\ Mickeys.ttf);
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    height: 100%;
}

Body {
    height: 100vh;
    width: 100%;
}


/* home */
.content {
    background-image: url(/assets/img/bg-utama2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    height: 100vh;
}

.content h1 {
    font-size: 40px;
    font-family: barett;
}
.content p{
    font-size: 20px;
    margin-top: 20px;
    font-family: biasa;
}
.content button {
    margin:  30px;
    padding: 15px 30px;
    border: none;
    background-color: #d6d6d6;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    font-family: peanut;
}

/* border */
.banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
}
.banner-img {
    overflow: hidden;
}
.banner-img img {
    margin: 20px 20px 20px 20px;
    width: 100%;
    display: block;
    transition: transform 0.5s;
    align-items: center;
}
.banner-img:hover img {
    transform: scale(1.1);
}

button:hover{
    background-color: #7d6215;
    transform: scale(1.1);
}

/* hot produk */
.pheading {
    text-align: center;
    margin: 50px 0;
    color: #4a4a4a;
    font-size: 40px;
}

/* produk */
.sec {
    padding: 10px 5%;
    margin-bottom: 10vh;
}

span {
    color: red;
}

.products{
    display: flex;
    border-radius: 10px;
    grid-template-columns: repeat(outo-fit, minmax(320px, 1fr));
}
.discount {
    background-color: pink;
    font-weight: 100;
}
.products .card{
    width: 310px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0 , 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img {
    height: 250px;
    width: 100%;
    
}
.products .card .sale {
    position: absolute;
    margin-right: 10vh;
    background-color: rgb(223, 87, 110);
    width: 40px;
    font-size: 20px;
    border-radius: 20px;
    font-family: baratt;
    color: white;
}

.products .card .desc {
    padding: 5px;
    opacity: 0.8;
}

.products .card .penulis{
    padding: 2px;
    margin-left: 20px;
}

.products .card .title {
    font-weight: 900;
    font-size: 20px;
    color: #424142;
    padding: 0 20px;
}

.products .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .price {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn{
    font-size: 13px;
    color: black;
    padding: 10px 18px;
    font-weight: 900;
    border:1px solid black ;
    border-radius: 20px;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #7d6215;
    color: white;
}  

/* diskon item */
.price-dis {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: bold;
}

/* footer */
footer{
    padding: 30px 13% 50px;
    font-family: biasa;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    background-color: #322910ec;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content h4 {
    color: white;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li {
    margin-bottom: 15px;
    margin-right: 10px;
}
.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a{
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}

.footer-content p {
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}
.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover {
    color: bisque;
    transform: translateY(-5px);
    transition: all .40s ease;
}
li:hover {
    color: bisque;
    transform: translateY(-3px) translateX(-5px);
    transition: all .40s ease;

}





/* media */
@media (max-widh:768px) {

    header .navbar{
        position: absolute;
        top: 100%; right: 0;left: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 1);
    }

    header .navbar{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #eee;
        border: 1rem solid rgb(67, 81, 93);
        display: block;
    }
}
