/* font name web */
@font-face {
font-family: barett;
src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
font-family: peanut ;
src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
font-family: biasa;
src: url(/assets/font/Hello\ Mickeys.ttf);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    height: 100%;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    background-color: rgba(144, 114, 79, 0.63);
}

/* button back and add item */
.btn-back-tambah{
    margin-top: 5vh;
    margin-left: 20px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    font-family: biasa;
}

.btn-back-tambah .left{
    position: absolute;
    margin-top: 10vh;
    margin-left: 10vh;
    top: 10px;
    left: 10px;
    background-color: #785a40;
    text-align: center;
    width: 80px;
    height: 30px;
    padding: 2px;
    border-radius: 10px;
}

.btn-back-tambah .right {
    position: absolute;
    margin-top: 10vh;
    margin-right: 10vh;
    top: 10px;
    right: 10px;
    background-color: #785a40;
    text-align: center;
    width: 110px;
    height: 30px;
    padding: 2px;
    border-radius: 10px;

}

.box-harga{
    background-color: antiquewhite;
    width: auto;
}

.add-jumlah {
    background-color: rgb(111, 91, 64);
}

/* button min and plus*/
.quantity-btn{
    background-color: #cbb9a9;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
}

.quantity-input{
    width: 50px;
}



.btn-hapus {
    padding: 2px;
    border-radius: 10px;
    text-align: center;

}

.container {
    margin-top: -100vh;
    width: 80%;
    margin: 20px auto;
}

h1 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    font-family: peanut;
    font-size: 50px;
}
p {
    margin-top: 20vh;
    font-family: biasa;
    font-size: 40px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: biasa;
    margin-left: auto;
    margin-right: auto;
    background-color: #dddddda3;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

.icon {
    cursor: pointer;
}

.edit-icon {
    color: green;
}

.delete-icon {
    color: red;
    margin-left: 50px;
}

.edit-icon:hover, .delete-icon:hover {
    opacity: 0.7;
}
