@font-face {
    font-family: barett;
    src: url(/assets/font/Barett\ Street.ttf);
}
@font-face {
    font-family: peanut ;
    src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
  font-family: biasa;
  src: url(/assets/font/Hello\ Mickeys.ttf);
}

header{
    font-family: biasa;
    position: fixed;
    width: 100%;
    padding: 12px 10%;
    background-color: rgba(251, 255, 255, 0.685);
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.192);
}

.navbar .logo {
    font-size: 30px;
    color: #333;
    font-weight: bolder;
    font-family: barett;
}

.navbar .logo:hover {
  text-decoration: solid;
}

.navbar .isi{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #333;
}

.navbar .isi:hover{
    color: #181818;
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content, .dropdown-user {
    display: none;
    position: absolute;
    margin-bottom: 60px;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 6px;
}

.dropdown:hover .dropdown-content, .dropdown:hover .dropdown-user {
    display: block;
}

.dropdown-content a{
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #a7a7a7;
}

.dropdown-content a:hover, .dropdown-user a:hover {
    color: black;
}

.dropdown .dropdown-user h2 {
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.dropdown .dropdown-user a {
    font-size: 12px;
}

.dropdown .dropdown-user .profile-img{
    width: 40px; 
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}