@font-face {
    font-family: barett;
    src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
    font-family: peanut ;
    src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
    font-family: biasa;
    src: url(/assets/font/Hello\ Mickeys.ttf);
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    background-repeat: no-repeat;
    background-size: cover;
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.container-novel   {
    padding: 10px;
    font-size: 20px;
    background: url(/assets/img/bg-book.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* judul */
.pheading {
    text-align: center;
    margin: 50px 0;
    color: black;
    font-family: barett;
}

/* produk */
.sec {
    padding: 10px 5%;
    margin-top: 10vh;
}

span {
    color: rgb(155, 61, 61);
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 10vh;
}

.products .card{
    width: 300px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0 , 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 20px;
}
.products .card .penulis{
    padding: 2px;
    margin-left: 20px;
}
.products .card img {
    height: 250px;
    width: 100%;
    
}
.products .card .desc {
    padding: 5px;
    opacity: 0.8;
}

.products .card .title {
    font-weight: 900;
    font-size: 20px;
    color: #424142;
    padding: 0 20px;
}

.products .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .price {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn{
    font-size: 13px;
    color: black;
    padding: 10px 18px;
    font-weight: 900;
    border:1px solid black ;
    border-radius: 20px;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #7d6215;
    color: white;
}
