@font-face {
  font-family: barett;
  src: url(/assets/font/Barett\ Street.ttf);
}

/* font navbar */
@font-face {
  font-family: peanut ;
  src: url(/assets/font/Peanut\ Butter.ttf);
}

/* font text biasa */
@font-face {
  font-family: biasa;
  src: url(/assets/font/Hello\ Mickeys.ttf);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  height: 100%;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
.box-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-book {
  width: 80%;
  margin-top: 20px;
  margin-left: 10vh;
  font-family: biasa;
}

h1 {
  font-family: peanut;
  font-size: 40px;
  margin-left: 50px;
}

section{
  padding-top: 10rem;
}

.book-details {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-containers {
  flex: 1;
}

.image-containers img{
  max-width: 300px;
}

.info-containers {
  flex: 1;
  margin-top: 5vh;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  padding-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #0056b3;
}

.content-pdf{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}