*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/img/img-akun/bg-login.gif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: biasa;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 5vh;
}

.form-container {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.3);
    background-color: antiquewhite;
}

.form-group {
    margin-bottom: 15px;
    font-size: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    height: 5vh;
    padding: 8px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(103, 57, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: rgb(167, 95, 8);
}

p {
    margin-top: 15px;
    font-size: 15px;
}
