<!DOCTYPE html>
<html lang="en">
<head>
    <% include('layouts/header.ejs') %>
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="logout-container">
        <h2>Logout</h2>
        <p>Anda telah berhasil logout.</p>
        <a href="/login">Login</a>
        <a href="/">Go to Page</a>
    </div>
</body>
</html>
